

*{
    box-sizing: border-box;
    
}

body{
    background-color: #7C6EBB;
    color: white;
    font-family:"Press Start 2P", sans-serif;
    margin: 0;
    text-align: center;
    overflow: hidden;
}

a{
    color: white;
}

h1{
    line-height: 1.4;
}

.btn{
    border: 0;
    background-color: white;
    color: #7C6EBB;
    padding: 15px;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}

.screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition: margin 0.5s ease-out;
}

.screen.up{
    margin-top: -100vh;
}


.pokemon-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0%;
}

.pokemon-list li{
    margin: 10px;
}

.choose-pokemon-btn{
    font-family: inherit;
    width: 150px;
    height: 150px;
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
}
.choose-pokemon-btn:hover{
    background-color: white;
    color: #7C6EBB;
}

.choose-pokemon-btn:active{
    background-color:rgba(225,225,225,0.2) ;
    color: white;
}
.pikachuu:active{
    background-color:rgba(225,225,225,0.2) ;
    color: orange;
}

.choose-pokemon-btn img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}




.game-container{
    position: relative;
}

.time,
.score{
    position: absolute;
    top: 20px;

}

.time{
    left: 20px;
}

.score{
    right: 20px;
}

.message{
    line-height: 1.7;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 20px;
    z-index: 100;
    text-align: center;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%,-150%);
    transition: 0.4s ease-in;
}

.message.visible{
    transform: translate(-50%,150%);
    opacity: 1;
}

.pokemon{
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    width: 100px;
    height: 100px;
    transform: translate(-50%,-50%) scale(1);
    transition: 0.3s ease-in-out;

}

.pokemon.caught{
    transform: translate(50%, 50%)scale(0);
}

.pokemon img{
    width: 100px;
    height: 100px;

}